aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
frozenlist==1.3.0
future==0.18.2
idna==3.3
lcu-driver==2.1.3
multidict==6.0.2
pefile==2021.9.3
psutil==5.9.0
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pywin32-ctypes==0.2.0
yarl==1.7.2
